html, body {
    height: 100%;
    overflow-x: hidden;
     color: #696969;
}

body {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 24px;
    background-color: #F9F6F6;
   
}

.header {
  .navbar {
      padding: 10px 150px;
      .nav-item a{
          color: #8B4513;
      } 
      .lang__mobile {
        margin-right: 30px;
        a {
          text-decoration: none;
          margin-right: 10px;
          div {
            font-size: 34px;
            display: inline-block;
            color: #408ce6;
          }
        }
          
      }
        .lang {
          margin-left: 30px;
          list-style-type: none;
          div {
              display:inline-block;
              margin-right: 10px;
          }
          div.lang_ru {
             vertical-align: top;
          }
          div.lang_uz {
              vertical-align: top;
              margin-top: 3px;
          }
      }
     
  }
}

.block_2 {
    margin-top: 60px;
    .block_2__text, .block_2__h2 {
      color: #408ce6; 
    }
    .block_2__p, .block_2__p1 {
      margin-bottom: 50px;
      margin-top: 30px;
      text-align: center;
    }
}

.block_3__h2 {
    color: #408ce6;
}
.block_3 {
    margin-top: 50px;
    margin-bottom: 50px;
    .col-sm-3 {
        
        .block_3__block {
           border: 1px solid #A9A9A9;
           box-shadow: 0 0 10px #A9A9A9;
           border-radius: 10px;
           padding: 15px;
           img {
             display: block;
             margin-left: auto;
             margin-right: auto;
           }
           .block_3__hr {
              background-color: #408ce6;
              width: 50%;
              height: 2px;
           }
           p {
               margin-top: 20px;
           }
        }
      }
}

.block_4__h1 {
    color: #408ce6;
}
.block_4 {
  margin-top: 50px;
  margin-bottom: 50px;
  .col-sm-3 {
     .card {
        border: 1px solid #A9A9A9;
        box-shadow: 0 0 10px #A9A9A9;
        border-radius: 10px;
     }
  }
}

.block_5__h1 {
    color: #408ce6;
}
.block_5 {
  margin-top: 50px;
  margin-bottom: 80px;
  .col-sm-2 {
      padding: 15px;
      border: 1px solid #A9A9A9;
      box-shadow: 0 0 10px #A9A9A9;
      border-radius: 10px;
      margin-right: 10px;
      margin-left: 10px;
      img {
         display: block;
         margin-left: auto;
         margin-right: auto;
      }
      .block_5__hr {
          background-color: #408ce6;
          width: 50%;
          height: 2px;
      }
      .block_5__h3 {
          margin-top: 15px;
      }
  }
}

.footer {
    background: #B8860B;
    .col-sm-4 {
        padding-left: 100px;
    }
    .col-sm-4 {
        color: white;
        padding-top: 60px;
        padding-bottom: 60px;
        a {
            color: white;
            text-decoration: none;
            p {
           margin-left: 100px; 
        }
        }
    }
    .col-sm-4 {
        .footer__icons {
            margin-left: 100px;
            a {
            margin-right: 10px;
           }
        }
        .footer__h5 {
            padding-top: 50px;
            margin-left: 100px;
            p {
                margin-top: 15px;
            }
        }
    }
}


// production.html

.block-1 {
    .block-1__h1 {
        color: #408ce6;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .block-1__h2 {
        color: #408ce6;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .block-1__items {
        li {
        list-style-type: none;
         background:url("../icons/icon.png") no-repeat 0 50%;
         padding-left: 35px;
        }
    }
}
.block-2 {
    margin-bottom: 50px;
    .block-2__h3 {
        color: #408ce6;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .block-2__items {
        li {
          list-style-type: none;
          background:url("../icons/icon.png") no-repeat 0 50%;
          padding-left: 35px; 
        }
    }
}

// services.html

.services_1 {
    .col-12 {
        .services_1__h1 {
          color: #408ce6;
          margin-top: 60px;
          margin-bottom: 30px;
        }
        .services_1__h2 {
            color: #408ce6;
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
    .col-12 {
        margin-top: 30px;
        .services_1__h3 {
            color: #408ce6;
            margin-bottom: 30px;
        }
        .services_1__h4 {
            color: #408ce6;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .services_1__p5 {
            margin-bottom: 70px;
        }
    }
}

// galery.html

.galery-1__h1 {
    color: #408ce6;
    margin-top: 60px;
    margin-bottom: 40px;
}
.galery-1 {
    margin-top: 40px;
    margin-bottom: 40px;
    .col-sm-3 {
        margin-bottom: 20px;
    }
}
.galery-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    .col-sm-3 {
        margin-bottom: 20px;
    }
}
.galery-3 {
    margin-top: 40px;
    margin-bottom: 40px;
    .col-sm-3 {
        margin-bottom: 20px;
    }
}

// contacts.html

.contacts_1 {
    margin-top: 80px;
    margin-bottom: 80px;
    .col-sm-4 {
      padding-left: 100px;
      .contacts_1__h1 {
        color: #408ce6;
      }
      .contacts_1__h2 {
        color: #408ce6;
      }
      .contacts_1__h3 {
        color: #408ce6; 
      }
      .contacts_hr {
          height: 2px;
          background-color: #408ce6;
          width: 50%;
          margin-left: 0px;
      } 
    }
    .col-sm-8 {
      form {
          width: 80%;
          margin: 0 auto;
          .form_submit {
              color: #408ce6;
          } 
      }
    }
}
.contacts_2 {
    margin-bottom: 80px;
    .col-sm-10 {
        .map-container{
          overflow:hidden;
          padding-bottom:56.25%;
          position:relative;
          height:0;
        }
        .map-container iframe{
          left:0;
          top:0;
          height:100%;
          width:100%;
          position:absolute;
        }
    }
}

// mebel.html
.block_1_mebel {
    margin-top: 40px;
    .card-title {
        margin-top: 20px;
       
    }
}
.block_2_mebel {
    margin-bottom: 40px;
    .card-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 568px) {
    .header {
      .navbar {
        padding: 0 20px;
      }
    }
    .block_2 {
        .block_2__p, .block_2__p1 {
            text-align: left;
            padding: 0 15px;
            
        }
    }
    .block_3 {
        .col-sm-3 {
            margin-bottom: 10px;
        }
    }
    .block_4 {
        .col-sm-3 {
            margin-bottom: 10px;
        }
    }
    .block_5 {
        .col-sm-2 {
            margin-bottom: 10px;
        }
    }
    .footer {
        .col-sm-4.footer__block1 {
            padding-top: 30px;
            padding-left: 70px;
            padding-bottom: 30px;
        }
        .col-sm-4.col-sm-4.footer__block2 {
            padding-left: 70px;
            padding-top: 20px;
            a {
               p {
                margin-left: 50px;
                }
            }
        }
        .col-sm-4.col-sm-4.footer__block3 {
            padding-left: 110px;
            .footer__icons {
                margin-left: 15px;
            }
             .footer__h5 {
               margin-left: 25px;
               
            }
        }
    }
    .contacts_1 {
        .col-sm-8 {
          form {
            width: 100%;
           }
        }
    }
    .block_1_mebel {
        margin-bottom: 10px;
        .col-sm-4 {
            margin-bottom: 20px;
        }
    }
    .block_2_mebel {
        margin-top: 10px;
        .col-sm-4 {
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 992px) {
    .header {
        .navbar {
            .lang__mobile {
                display: none;
            }
        }
    }
}
@media (max-width: 992px) {
    .header {
        .navbar {
            .lang {
                display: none;
            }
        }
    }
}
